@import 'styles/colors.scss';

.badge {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.badge-text {
  color: var(--white);
  font-weight: 500;
}

.brave-logo {
  max-height: 50px;
  width: 100px;
}
