@import '../../../styles/mixins.scss';

.label {
  cursor: pointer;
  width: 100%;

  > input[type='radio'] {
    height: 0;
    width: 0;
    opacity: 0;
    position: absolute;

    &:focus + span {
      background-color: var(--focusBackground);
      box-shadow: var(--focusShadow);
    }
  }

  > span {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
  }

  &.selected {
    background-color: var(--primary);
    color: var(--white);
    font-weight: bold;
  }
}

.container {
  border: var(--borderMediumGrey);
  border-radius: 3px;
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;
}

.search {
  @include input-general;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}
