@import 'styles/colors.scss';

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bouncing-loader-ellipse {
  animation: bounce-fade 0.8s infinite alternate;
  border-radius: 50%;
  height: 1rem;
  margin: 3rem 0.2rem;
  width: 1rem;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.dark {
  background-color: var(--darkBlue);
}

.dark-message {
  color: var(--darkBlue);
  margin-bottom: 0;
}

.light {
  background-color: var(--lightGrey);
}

.light-message {
  color: var(--lightGrey);
  margin-bottom: 0;
}

// Keyframes
@keyframes bounce-fade {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1.5rem, 0);
  }
}
