{
  "presets": ["next/babel"],
  "plugins": [
    "-babel-pluginrelay",
    "babel-plugin-transform-flow-strip-types",
    [
      "babel-plugin-react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        },
        "generateScopedName": "[local]_[hash:base64:5]"
      }
    ],
    "babel-plugin-inline-react-svg"
  ]
}
