{
  "plugins": [
    "babel-plugin-relay",
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./"],
        "alias": {
          "_components": "./components",
          "_lib": "./lib",
          "_pages": "./pages",
          "_schema": "./schema",
          "_server": "./server",
          "_static": "./static",
          "_storybook": "./.storybook",
          "styles": "./styles",
          "_types": "./types",
          "_utils": "./utils"
        }
      }
    ],
    [
      "babel-plugin-react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        },
        "generateScopedName": "[local]_[hash:base64:5]"
      }
    ],
    "babel-plugin-inline-react-svg"
  ],
  "presets": ["next/babel"]
}
