{
  "plugins": [
    "babel-plugin-relay",
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "pages": "./pages",
          "schema": "./schema",
          "server": "./server",
          "static": "./static",
          "storybook": "./.storybook",
          "styles": "./styles",
          "utils": "./utils"
        }
      }
    ],
    "babel-plugin-transform-flow-strip-types",
    [
      "babel-plugin-react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        },
        "generateScopedName": "[local]_[hash:base64:5]"
      }
    ],
    "babel-plugin-inline-react-svg"
  ],
  "presets": ["next/babel"]
}
