# Builds
.next/
out

# Dependency Management
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
node_modules/
package-lock.json

# Environmental Variables
.env

# Log Files
*.log

# Testing
.dccache
coverage/

# Misc
.vscode/