@import 'styles/colors.scss';

.content.geo {
  background: var(--backgroundGeometricGrey);
}

.content.geo-blue {
  background: var(--backgroundGeometricBlue);
}

.content.plain {
  background-color: var(--white);
}

.layout {
  background-color: var(--white);
  margin: 0 auto;
  max-width: 1300px;
  padding: 2rem;
}

.layout.geo,
.layout.geo-blue {
  background-color: var(--white);
  border: var(--borderLightGrey);
}

/*
 * Used in conjuction with #__next values in 
 * styles/global.scss to set sticky footer 
 */
.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}
