@import 'styles/colors.scss';

.tag {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tag-text {
  color: var(--white);
  font-weight: 500;
}

.brave-logo {
  max-height: 50px;
  width: 100px;
}
