@mixin input-general {
  border: var(--borderMediumGrey);
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  > input[type='text'],
  > textarea {
    @include input-general;
    caret-color: var(--primaryLight);

    &:focus {
      background-color: var(--focusBackground);
      box-shadow: var(--focusShadow);
      outline: none;
    }
  }
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.required {
  &::after {
    content: '* required';
    color: var(--errorDark);
    font-size: var(--fontSizeSmall);
    margin-left: 0.25rem;
  }
}
