@import 'styles/colors.scss';

.featured-added {
  color: var(--mediumGrey);
}

.featured-container {
  border: var(--borderLightGrey);
  border-radius: 3px;
  box-shadow: var(--boxShadowGrey);
  display: flex;
  padding: 1rem;
}

.featured-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.featured-figure {
  margin: 0;
  min-width: 260px;
}

.featured-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.featured-img {
  height: 300px;
  padding-right: 2rem;
}

.featured-link {
  font-weight: inherit;
}

.featured-meta > p {
  margin: 0;
}

.featured-title {
  margin: 0;
}
