@import 'styles/colors.scss';

.footer {
  background: var(--darkBlue);
  background: var(--gradientDarkLightBlue);
  padding: 1rem 2rem;
}

.footer-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
