.blockquote-text {
  border-left: var(--borderLightBlueThick);
  font-family: var(--fontFamilyHeadingsSecondary);
  font-size: var(--fontSizeMedium);
  margin: 1rem 1.5rem 1rem 0.5rem;
  padding-left: 0.8rem;
}
