@import 'styles/colors.scss';

.featured-container {
  border: var(--lightGreyBorder);
  border-radius: 3px;
  box-shadow: var(--boxShadow);
  display: flex;
  padding: 1rem;
}

.featured-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 300px;
}

.featured-img {
  max-height: 300px;
  padding-right: 2rem;
}

.featured-meta > p {
  margin: 0;
}

.featured-title {
  margin: 0;
}
