@import 'styles/colors.scss';

.featured-added {
  color: var(--mediumGrey);
}

.featured-container {
  border: var(--lightGreyBorder);
  border-radius: 3px;
  box-shadow: var(--boxGreyShadow);
  display: flex;
  padding: 1rem;
}

.featured-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.featured-figure {
  margin: 0;
  min-width: 260px;
}

.featured-img {
  height: 300px;
  padding-right: 2rem;
}

.featured-meta > p {
  margin: 0;
}

.featured-title {
  margin: 0;
}
