@import 'styles/colors.scss';

.error-container {
  align-items: center;
  background-color: var(--red15);
  border: var(--borderDeepRed);
  border-radius: 3px;
  box-shadow: var(--boxShadowGrey);
  display: flex;
  flex-direction: column;
  margin: 1rem auto 0;
  padding: 2rem;
  width: max-content;
}

.error-title {
  margin: 0 0 0.5rem;
}
