.promoted {
  align-self: flex-start;
  background-color: var(--error);
  border-radius: 3px;
  box-shadow: var(--boxShadowGrey);
  color: var(--white);
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.25rem;
}
