@import 'styles/colors.scss';

.result {
  border: var(--borderLightGrey);
  border-radius: 3px;
  box-shadow: var(--boxShadowGrey);
  width: 100%;
  max-width: 30vw;
  padding: 1rem;
}

.result:hover {
  cursor: pointer;
  box-shadow: var(--boxShadowBlack);
}

.result-download {
  color: var(--black25);
}

.result-download:hover {
  color: var(--black);
}

.result-meta {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
