:root {
  // Colors RGB Components
  --blackBase: 28, 29, 35; // #1C1D23
  --blue: 5, 55, 130; // #053782
  --blueLight: 29, 136, 224; // #1D88E0
  --blueDark: 17, 1, 59; // #11013B
  --greyBase: 224, 224, 224; // #E0E0E0
  --greyMediumBase: 189, 189, 189; // #BDBDBD
  --red: 229, 75, 75; // #E54B4B
  --redDeep: 161, 18, 18; // #A21212
  --whiteBase: 255, 255, 255; // #FFFFFF

  // Palette
  --primary: rgba(var(--blue), 1);
  --primaryDark: rgba(var(--blueDark), 1);
  --primaryLight: rgba(var(--blueLight), 1);

  --error: rgba(var(--red), 1);
  --errorDark: rgba(var(--redDeep), 1);

  // Monochromes
  --black: rgba(var(--blackBase), 1);
  --greyLight: rgba(var(--greyBase), 1);
  --greyMedium: rgba(var(--greyMediumBase), 1);
  --white: rgba(var(--whiteBase), 1);

  // Gradients
  --gradientPrimary: linear-gradient(27deg, var(--primary) 0%, var(--primaryLight) 100%);

  // Borders
  --borderLightGrey: 1px solid var(--greyLight);
  --borderMediumGrey: 1px solid var(--greyMedium);
  --borderLightBlueThick: 0.4rem solid var(--primaryLight);
  --borderDeepRed: 1px solid var(--redDeep);
  --boxShadowGrey: 2px 1px 3px 2px rgba(var(--greyBase), 0.5);
  --boxShadowBlack: 2px 1px 3px 2px rgba(var(--blackBase), 0.25);

  //Box Shadows
  --deep: 3px 3px 3px 2px;
  --inset: inset 0px 0px 10px;
  --normal: 2px 1px 3px 2px;

  --boxShadowGrey: var(--normal) rgba(var(--greyBase), 0.5);
  // --boxShadowGreyDark: var(--normal) --greyDark25;
  // --boxShadowGreyDarkDeep: var(--deep) --greyDark25;
  --boxShadowBlack: var(--normal) rgba(var(--blackBase), 0.25);
  --boxShadowInset: var(--inset) rgba(var(--blackBase), 0.1);
  --boxShadowInsetDark: var(--inset) rgba(--black, 0.4);

  // Focus states
  --focusShadow: 0 0 5px rgba(var(--blueLight), 0.6);
}
