:root {
  // Colors
  --darkBlue: rgba(5, 55, 130, 1); // #053782
  --deepRed: rgba(162, 18, 18, 1); // #A21212
  --lightBlue: rgba(29, 136, 224, 1); // #1d88e0
  --midnightBlue: rgba(17, 1, 59, 1); // #11013b
  --red: rgba(229, 75, 75, 1); // #E54B4B
  --red15: rgba(229, 75, 75, 0.15); // #E54B4B w/ 15% opacity

  // Monochromes
  --black: rgba(28, 29, 35, 1); // #1c1d23
  --black25: rgba(28, 29, 35, 0.25); // #1c1d23 w/ 25% opacity
  --lightGrey: rgba(224, 224, 224, 1); // #e0e0e0
  --lightGrey50: rgba(224, 224, 224, 0.5); // #e0e0e0 w/ 50% opacity
  --mediumGrey: rgba(189, 189, 189, 1); // #bdbdbd
  --white: rgba(255, 255, 255, 1); // #ffffff

  // Gradients
  --gradientDarkLightBlue: linear-gradient(
    27deg,
    var(--darkBlue) 0%,
    var(--lightBlue) 100%
  ); // darkBlue to lightBlue

  // Borders
  --borderLightGrey: 1px solid var(--lightGrey);
  --borderLightBlueThick: 0.4rem solid var(--lightBlue);
  --borderDeepRed: 1px solid var(--deepRed);
  --boxShadowGrey: 2px 1px 3px 2px var(--lightGrey50);
  --boxShadowBlack: 2px 1px 3px 2px var(--black25);
}
