/*
 * Normalizes the CSS so site appears the same across all browsers
 * Adapted from modern-normalize - https://github.com/sindresorhus/modern-normalize
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Prevent adjustments of font size after orientation changes in iOS.
html {
  -webkit-text-size-adjust: 100%; /* 2 */
}

// Fix hr height in Firefox.
hr {
  height: 0;
}

// Standardize abbr text decoration
abbr[title] {
  text-decoration: underline;
}

// Standardize b and strong font weights
b,
strong {
  font-weight: bold;
}

// Set unified small font size in all browsers.
small {
  font-size: 80%;
}

// Prevent `sub` and `sup` elements from affecting the line height in all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// 1. Change the form font styles in all browsers.
// 2. Remove form margin in Firefox and Safari.
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

// Remove the inheritance of text transform in Edge and Firefox.
button,
select {
  text-transform: none;
}

// Correct the inability to style clickable types in iOS and Safari.
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

// Remove the inner border and padding in Firefox.
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

// Correct fieldset padding in Firefox.
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

// Remove legend padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
legend {
  padding: 0;
}

// Add the correct vertical alignment to progress bar in Chrome and Firefox.
progress {
  vertical-align: baseline;
}

// Correct the cursor style of increment and decrement buttons in Safari.
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

// 1. Correct the odd search box appearance in Chrome and Safari.
// 2. Correct the search box outline style in Safari.
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

//Remove the inner padding in Chrome and Safari on macOS.
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

// Correct summary display in Chrome and Safari.
summary {
  display: list-item;
}
