:root {
  --darkBlue: #053782; // rgba(5, 55, 130, 1)
  --lightBlue: #1d88e0; // rgba(29, 136, 224, 1)
  --midnightBlue: #11013b; // rgba(17, 1, 59, 1)

  // Monochromes
  --black: #1c1d23; // rgba(28, 29, 35, 1)
  --lightGrey: #e0e0e0; // rgba(224, 224, 224, 1)
  --white: #ffffff; // rgba(255, 255, 255, 1)

  // Gradients
  --darkLightBlue: linear-gradient(27deg, var(--darkBlue) 0%, var(--lightBlue) 100%); // darkBlue to lightBlue

  // Borders
  --lightGreyBorder: 1px solid var(--lightGrey);
  --boxShadow: 1px 1px 1px 1px var(--lightGrey);
}
