@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rosario:700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

:root {
  // Font families
  --baseFont: 'Hind Vadodara', sans-serif;
  --codeSnippetFont: 'Ubuntu Mono', Consolas, monospace;
  --primaryHeaderFont: 'Oswald', sans-serif;
  --secondaryHeaderFont: 'Rosario', serif;

  --baseFontSize: 16px;
  --xLargeFont: 2.5rem;
  --largeFont: 2rem;
  --mediumLargeFont: 1.75rem;
  --mediumFont: 1.5rem;
  --smallFont: 0.75rem;
}
